<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>B2B</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Giriş Yapmak İçin Bilgileri Doldurun</p>

                <form #loginForm="ngForm">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" ngModel required email placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" ngModel  required placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="!loginForm.valid" (click)="login(loginForm.value)" class="btn btn-primary btn-block">Giriş Yap</button>
                </form>

                <p class="mb-1 align-right">
                    <a href="forgot-password.html">Şifremi Unuttum</a>
                </p>
            </div>
        </div>
    </div>
</body>